<!--<div class="row">
    <h2>Statistic</h2>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="parameter in parameters">
                <td>{{parameter.name}}</td>
                <td>{{parameter.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>-->
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{$index + 1}}</td>
                    <td>{{user}}</td>
                    <td>
                        <button class="btn btn-success btn-sm" ng-click="addRole(user)">+ Manager</button>
                    </td>
                </tr>
                <tr ng-repeat="manager in managers">
                    <td>{{$index + 1}}</td>
                    <td>{{manager}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="delRole(manager)">- Manager</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>