<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tasks</td>
                    <td>{{stat.Tasks}}</td>
                </tr>
                <tr>
                    <td>Active Tasks</td>
                    <td>{{stat.TasksActive}}</td>
                </tr>
                <tr>
                    <td>Closed Tasks</td>
                    <td>{{stat.TasksClosed}}</td>
                </tr>
                <tr>
                    <td>All Projects</td>
                    <td>{{stat.Projects}}</td>
                </tr>
                <tr>
                    <td>Active Projects</td>
                    <td>{{stat.ProjectsActive}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>