<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <div class="col-md-12 controls">
                        <input id="username" type="email" placeholder="Email" class="form-control input-md"
                               data-ng-model="loginData.userName" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 controls">
                        <input id="password" type="password" placeholder="Password" class="form-control input-md"
                               data-ng-model="loginData.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 controls text-center">
                        <button id="loginbtn" class="btn btn-primary" type="submit" data-ng-click="login()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</button>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-hide="message == ''" class="alert alert-danger text-center">
                        {{message}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 controls text-center">
                        <a ui-sref="register">No account yet? Register here!</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
