<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <strong>Projects:</strong>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects" >
                    <td>{{$index + 1}}</td>
                    <td class="text-uppercase">{{project.Name}}</td>
                    <td>{{project.Description}}</td>
                    <td><button class="btn btn-danger" ng-click="deleteProject(project.Id)">Delete</button>
                        <button class="btn btn-info" ng-click="viewProject(project.Id)">Info</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-1 controls text-center">
                        <button id="addButton" class="btn btn-primary" type="submit" ng-click="addProject()">New project</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<modal title="Create new project" visible="showModalCreate">
    <form name="newproject" role="form" novalidate>
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" class="form-control" id="projectName" placeholder="Enter new project name" ng-model="formData.Name" required />
        </div>
        <div class="form-group">
            <label for="password">Description</label>
            <input type="text" class="form-control" id="projectDescription" placeholder="Description" ng-model="formData.Description" required />
        </div>
        <button type="submit" class="btn btn-default" ng-click="newproject.$valid && createProject()" ng-show="newproject.$valid">Create</button>
        
    </form>
</modal>