<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <strong>Tasks were assigned to me:</strong>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{$index + 1}}</td>
                <td class="text-uppercase">{{task.TaskText}}</td>
                <td><button class="btn btn-info">Start</button><button class="btn btn-success">Done</button><button class="btn btn-danger">Decline</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-4 controls">
                        <input id="taskName" type="text" placeholder="Add new task here" class="form-control input-md"
                               data-ng-model="task" required autofocus>
                    </div>
                    <div class="col-md-1 controls text-center">
                        <button id="addButton" class="btn btn-primary" type="submit" data-ng-click="addTask()">Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>