<!--<div class="row">
    <h2>Statistic</h2>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="parameter in parameters">
                <td>{{parameter.name}}</td>
                <td>{{parameter.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>-->
<div class="row">
    <div class="col-md-6">
        <form name="addRoleForm" role="form" novalidate>
            <h2>Add manager role</h2>
            <div class="form-group">
                <label for="Perfomer">Select User:</label>
                <select class="form-control" id="Perfomer" ng-model="formData.user" required>
                    <option ng-repeat="user in users">{{user}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="addRoleForm.$valid && addRole()" ng-show="addRoleForm.$valid">Add Manager</button>
        </form>
    </div>
    <div class="col-md-6">
        <form name="delRoleForm" role="form" novalidate>
            <h2>Remove manager role</h2>
            <div class="form-group">
                <label for="Perfomer">Select Manager:</label>
                <select class="form-control" id="Perfomer" ng-model="formData.manager" required>
                    <option ng-repeat="manager in managers">{{manager}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="delRoleForm.$valid && delRole()" ng-show="delRoleForm.$valid">Remove Manager</button>
        </form>
    </div>
</div>