<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th class="hidden-xs">Description</th>
                <th class="hidden-xs">Deadline</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks" ng-class="{info: isStart($index)}">
                    <td>{{$index + 1}}</td>
                    <td class="text-uppercase">{{task.TaskText}}</td>
                    <td class="hidden-xs">{{task.TaskDescription}}</td>
                    <td class="hidden-xs">{{task.TaskDateDeadline | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="openTask($index)"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open</button>
                        <button class="btn btn-info" ng-show={{isAssigned($index)}} ng-click="startTask(task)"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> Start</button>
                        <button class="btn btn-success" ng-show={{isStart($index)}} ng-click="doneTask(task)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Done</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal title="Task" visible="showModalTask">
    <h1>{{task.TaskText}}</h1>
    <p>Deadline: {{task.TaskDateDeadline | date:'yyyy-MM-dd HH:mm'}} {{ task.TaskPriority}} priority</p>
    <h3>{{task.TaskDescription}}</h3>
    <p>{{task.TaskComment}}</p>

</modal>