<!--<div class="row">
    <h2>Statistic</h2>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="parameter in parameters">
                <td>{{parameter.name}}</td>
                <td>{{parameter.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>-->
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</span>
                <input type="text" class="form-control" ng-model="search">
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter:search">
                    <td>{{$index + 1}}</td>
                    <td>{{user}}</td>
                    <td>
                        <button id="add{{$index}}" class="btn btn-success btn-sm" data-loading-text="Loading..." ng-click="addRole(user,$index)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Manager</button>
                    </td>
                </tr>
                <tr ng-repeat="manager in managers | filter:search">
                    <td>{{$index + 1}}</td>
                    <td>{{manager}}</td>
                    <td>
                        <button id="del{{$index}}" class="btn btn-danger btn-sm" data-loading-text="Loading..." ng-click="delRole(manager,$index)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Manager</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
